{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Login no WebChat - Acesse sua conta para conversar online.">
	<meta name="keywords" content="WebChat, Login, Acesso, Chat Online, Mensagens">
	<meta name="author" content="Gabriel Afonso">
	<meta name="robots" content="index, nofollow">
	<meta name="theme-color" content="#038d92">

	
	<link rel="stylesheet" href="{% static 'webchat/css/style.css' %}">
	<link rel="icon" href="{% static 'webchat/images/favicon.ico' %}" type="image/x-icon">
	<title>WebChat - login</title>
</head>

<body class="form">
	<main>
		<section id="login" class="form-section">
			<div class="form-title">
				<img src="{% static 'webchat/images/icons/webchat-logo.png' %}" alt="">
			</div>
			<form method="POST" action="{% url 'webchat:login' %}" id="django-form" class="form-div">
				{% csrf_token %}

			
				<div class="form-div">
				
					<input type="text" id="username" class="form-input" placeholder="Nome de usuário"
					name={{ form.username.html_name }}>
				

					<input type="password" id="password" class="form-input" placeholder="Senha"
					name={{ form.password.html_name }}>
					
				
					{% if messages %}
						{% for message in messages %}
							{% if message.tags == 'error' %}
								<li class="error-messages">{{ message }}</li>
							{% endif %}
						{% endfor %}
					{% endif %}
				
					
					<button type="submit" class="login_button" id="django-form">Entrar</button>
					

			</form>
			<div id="or">
			<hr>
			</div>
			<div class="login_icons">
				<a href="#" class="link_button" id="google-link">
					<img src="{% static 'webchat/images/icons/google-icon.png' %}" alt="google">
				</a>
			</div>

			<div class="login_icons">
				<a href="{% url "home:guest_login" "webchat" %}" class="link_button" id="guest-link">
					Entrar como convidado
				</a>
			</div>

			<div class="need-account">
				Não possui uma conta? <a href="{% url "webchat:singup" %}">cadastre-se</a>
			</div>
		</section>
	</main>
</body>

</html>