{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Portfólio de Gabriel Afonso - Desenvolvedor Backend especializado em Django, Python, JavaScript e mais.">
  <meta name="keywords" content="Gabriel Afonso, Desenvolvedor Backend, Django, Python, Web Development, Portfólio">
  <meta name="author" content="Gabriel Afonso">
  <meta name="robots" content="index, follow">
  <meta name="theme-color" content="#000000">
  <title>Gabriel Afonso</title>
  <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
  <link rel="shortcut icon" href="{% static "home/images/favicon.ico" %}" type="image/x-icon">
  <script src="{% static "home/js/mobile.js" %}" defer=""></script>
</head>

<body>
  <main>

  <header class="navigation-bar">
    <nav>
      <div class="mobile-menu" id="menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      
      <ul class="nav-list" id="bar">
        <li><a href="#home">Inicio</a></li>
        <li><a href="#sobre">Sobre mim</a></li>
        <li><a href="#projetos">Projetos</a></li>
        <li><a href="#contato">Contato</a></li>
        <li><a href="{% url "home:curriculo" %}">Currículo</a></li>
      </ul>
    </nav>
  </header>

  <section class="home" id="home">

      <div class="home-container">
          <p class="ola">Olá, meu nome é Gabriel Afonso</p>

          <h1 class="home-text" id="dev">Desenvolvedor</h1>
      
          <p class="home-text" id="backend">Backend</p>
        <div class="social-icons-div">
          <a href="https://github.com/GabriellAfonso" target="_blank">
            <img src="{% static "home/images/github-icon.png" %}" alt="GitHub-Icon" class="social-icons">
          </a>
           
          <a href="https://www.linkedin.com/in/gabriel-afonso-929807267/" target="_blank">
            <img src="{% static "home/images/linkedin-icon.png" %}" alt="Linkedin-Icon" class="social-icons">
          </a> 
        </div>
      </div>
   
  </section>

  <section id="sobre">
    <div class="about">
      <div class="sobre-mim">
        <h1>Sobre mim</h1>
        <p>Sou um desenvolvedor backend, especializado no framework Django, 
          com sólidos conhecimentos em Python, JavaScript, HTML e CSS. 
          Estou sempre em busca de aprender novas tecnologias e aprimorar minhas habilidades, 
          focando em resolver problemas e desenvolver soluções eficientes.
        </p>
      </div>
      <img src="{% static "home/images/python-icon.png" %}" alt="Python icon" id="pyimg">
      </div>
  </section>

  <section class="projects" id="projetos">
    <h1 id="title">Principais Projetos</h1>
    <div class="projects-container">
      <div class="card">
        <h3>Dumcrown</h3>
        <a href="https://dumcrown.com.br/" target="_blank">
          <div class="card-template">
            <div class="card-overlay">
              <span class="card-text">Ver Projeto</span>
            </div>
            <img src="{% static "home/images/dumcrown_template.png" %}" alt="Dumcrown Template">
          </div>
        </a>
  
          <div class="card-description">
            <p>
              Dumcrown é um jogo de cartas online player vs player 
              baseado em uma história de RPG de mesa criada pelo meu irmão 
            </p>
          </div>
          <div class="card-button" >
           
            <button onclick="redirect('https://github.com/GabriellAfonso/dumcrown/blob/master/README.md')" type="button">Ler Mais</button>
          </div>
      
      </div>
      <div class="card">  
        <h3>WebChat</h3>
        <a href="{% url "webchat:chat" %}" target="_blank">
        <div class="card-template">
          <div class="card-overlay">
            <span class="card-text">Ver Projeto</span>
          </div>
          <img src="{% static "home/images/webchat_template.png" %}" alt="Webchat Template">
        </div>
      </a>

        <div class="card-description">
          <p>
            Um chat online simples, inspirado no WhatsApp Web, 
            que utiliza Django REST para comunicação em tempo real 
            entre dois usuários.
          </p>
        </div>
        <div class="card-button" >
          <button onclick="redirect('https://github.com/GabriellAfonso/portifolio/blob/main/portifolio/apps/webchat/README_webchat.md')" type="button">Ler Mais</button>
        </div>
      </div>
      <div class="card">
        <h3>PicPay</h3>
        <a href="{% url "picpay:profile" %}" target="_blank">
          <div class="card-template">
            <div class="card-overlay">
              <span class="card-text">Ver Projeto</span>
            </div>
            <img src="{% static "home/images/picpay_template.png" %}" alt="Picpay Template">
          </div>
        </a>
  
          <div class="card-description">
            <p> 
              Projeto que simula transferências de valores entre usuários, gerenciamento de saldo e 
              acompanhamento do histórico de transações.
            </p>
          </div>
          <div class="card-button" >
            <button onclick="redirect('https://github.com/GabriellAfonso/portifolio/blob/main/portifolio/apps/picpay/README_picpay.md')"type="button">Ler Mais</button>
          </div>
      </div>
      <div class="card">
        <h3>Encurtador de url</h3>
        <a href="{% url "url_shortener:shorten-url" %}" target="_blank">
          <div class="card-template">
            <div class="card-overlay">
              <span class="card-text">Ver Projeto</span>
            </div>
            <img src="{% static "home/images/url_shortener_template.png" %}" alt="URL Shortener Template">
          </div>
        </a>
  
          <div class="card-description">
            <p> 
              Encurtador de URLs, desenvolvido em Django, 
              que permite a criação e gerenciamento de links curtos 
              personalizados para cada usuário.
            </p>
          </div>
          <div class="card-button" >
            <button onclick="redirect('https://github.com/GabriellAfonso/portifolio/blob/main/portifolio/apps/url_shortener/README_url_shortener.md')" type="button">Ler Mais</button>
          </div>
      </div>
     
    </div>
    <a href="#" class="more-projects"><p>Projetos menores</p></a>

  </section>

  <section class="personal-contact" id="contato">
    <h1>Entre em contato</h1>

    <div class="contact-info">
      <div class="contact-item1">
          <a href="mailto:gabrieldelimaafonso@gmail.com"><img src="{% static "home/images/gmail_icon.png" %}" alt="Gmail Icon"></a>
      </div>
      <div class="contact-item2">
          <a href="https://wa.me/5527992453811" target="_blank"><img src="{% static "home/images/wsa_icon.png" %}" alt="WhatsApp Icon"></a>
      </div>
    </div>
  </section>
</main>
  <script>
    function redirect(link) {
      window.open(link, "_blank");
  }
  </script>

</body>

</html>