{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gabriel Afonso</title>
  <link rel="stylesheet" href="{% static 'portifolio/css/style.css' %}">
  <link rel="shortcut icon" href="{% static "portifolio/images/favicon.ico" %}" type="image/x-icon">
  <script src="{% static "portifolio/js/mobile.js" %}" defer=""></script>
</head>

<body>

  <header class="navigation-bar">
    <nav>
      <ul class="nav-list">
        <div class="mobile-menu" id="menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
        </div>
        <li id="bar"><a href="#home">Inicio</a>
        <a href="#sobre">Sobre mim</a>
        <a href="#projetos">Projetos</a>
        <a href="#contato">Contato</a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="home" id="home">

      <div class="home-container">
          <p class="ola">Olá, meu nome é Gabriel Afonso</p>

          <h1 class="home-text" id="dev">Desenvolvedor</h1>
      
          <p class="home-text" id="backend">Backend</p>
        <div class="social-icons-div">
          <a href="https://github.com/GabriellAfonso" target="_blank">
            <img src="{% static "portifolio/images/github-icon.png" %}" alt="GitHub-Icon" class="social-icons">
          </a>
           
          <a href="https://www.linkedin.com/in/gabriel-afonso-929807267/" target="_blank">
            <img src="{% static "portifolio/images/linkedin-icon.png" %}" alt="Linkedin-Icon" class="social-icons">
          </a> 
        </div>
      </div>
   
  </section>

  <section id="sobre">
    <div class="about">
      <div class="sobre-mim">
        <h1>Sobre mim</h1>
        <p>Sou um desenvolvedor backend, especializado no framework Django, 
          com sólidos conhecimentos em Python, JavaScript, HTML, CSS e SQL. 
          Estou sempre em busca de aprender novas tecnologias e aprimorar minhas habilidades, 
          focando em resolver problemas e desenvolver soluções eficientes.
        </p>
      </div>
      <img src="{% static "portifolio/images/python-icon.png" %}" alt="" id="pyimg">
      </div>
  </section>

  <section class="projects" id="projetos">
    <h1 id="title">Principais Projetos</h1>
    <div class="projects-container">
      <div class="card">
        <h3>Dumcrown</h3>
       
      </div>
      <div class="card">  
        <h3>WebChat</h3>
        <a href="{% url "webchat:chat" %}" target="_blank">
        <div class="card-template">
          <div class="card-overlay">
            <span class="card-text">Ver Projeto</span>
          </div>
          <img src="{% static "portifolio/images/webchat_template.png" %}" alt="">
        </div>
      </a>

        <div class="card-description">
          <p>
            Um chat online simples, inspirado no WhatsApp Web, 
            que utiliza Django REST para comunicação em tempo real 
            entre dois usuários.
          </p>
        </div>
        <div class="card-button" >
          <button type="button">Ler Mais</button>
        </div>
      </div>
      <div class="card">
        <h3>PicPay</h3>
        <a href="{% url "picpay:profile" %}" target="_blank">
          <div class="card-template">
            <div class="card-overlay">
              <span class="card-text">Ver Projeto</span>
            </div>
            <img src="{% static "portifolio/images/picpay_template.png" %}" alt="">
          </div>
        </a>
  
          <div class="card-description">
            <p> 
              Projeto que simula transferências de valores entre usuários, gerenciamento de saldo e 
              acompanhamento do histórico de transações.
            </p>
          </div>
          <div class="card-button" >
            <button type="button">Ler Mais</button>
          </div>
      </div>
      <div class="card">
        <h3>Encurtador de url</h3>
      </div>
     
    </div>
    <a href="#" class="more-projects"><p>Projetos menores</p></a>

  </section>

  <section class="personal-contact" id="contato">
    <h1>Entre em contato</h1>

    <div class="contact-info">
      <div class="contact-item1">
          <a href="mailto:gabrieldelimaafonso@gmail.com"><img src="{% static "portifolio/images/gmail_icon.png" %}" alt=""></a>
      </div>
      <div class="contact-item2">
          <a href="https://wa.me/5527992453811" target="_blank"><img src="{% static "portifolio/images/wsa_icon.png" %}" alt=""></a>
      </div>

  </section>
</body>

</html>