{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gabriel Afonso</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
  <script src="{% static "js/mobile.js" %}" defer=""></script>
</head>

<body>

  <header class="navigation-bar">
    <nav>
      <ul class="nav-list">
        <div class="mobile-menu" id="menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
        </div>
        <li id="bar"><a href="#home">Inicio</a>
        <a href="#sobre">Sobre mim</a>
        <a href="#projetos">Projetos</a>
        <a href="">Habilidades</a>
        <a href="">Contato</a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="home" id="home">

      <div class="home-container">
          <p class="ola">Olá, meu nome é Gabriel Afonso</p>

          <h1 class="home-text" id="dev">Desenvolvedor</h1>
      
          <p class="home-text" id="backend">Backend</p>
        <div class="social-icons-div">
          <a href="https://github.com/GabriellAfonso" target="_blank">
            <img src="{% static "images/github-icon.png" %}" alt="GitHub-Icon" class="social-icons">
          </a>
           
          <a href="https://www.linkedin.com/in/gabriel-afonso-929807267/" target="_blank">
            <img src="{% static "images/linkedin-icon.png" %}" alt="Linkedin-Icon" class="social-icons">
          </a> 
        </div>
      </div>
   
  </section>

  <section id="sobre">
    <div class="about">
      <div class="sobre-mim">
        <h1>Sobre mim</h1>
        <p>Me chamo Gabriel Afonso, programador focado em desenvolvimento web backend com o framework Django,
          além de possuir conhecimentos sólidos em Python, JavaScript, HTML, CSS e SQL, estou sempre em busca
          de aprender e me atualizar sobre as novas tecnologias da industria e pronto para enfrentar
          desafios complexos, resolver problemas e criar soluçoes engenhosas é sem duvida minha atividade
          favorita.
        </p>
      </div>
      <img src="{% static "images/python-icon.png" %}" alt="" id="pyimg">
      </div>
  </section>

  <section class="projects" id="projetos">
    <h1 id="title">Projetos</h1>
    <div class="projects-container">
      <div class="card">
        <h3>Dumcrown</h3>
        
      </div>
      <div class="card">  
      </div>
      <div class="card">
      </div>
      <div class="card">
      </div>
      <div class="card">  
      </div>
      <div class="card">
      </div>
    </div>

    

  </section>
</body>

</html>