{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'webchat/css/webchat.css' %}">
  <script>
    const Token = "{{ token }}";
  </script>
  

  <title>WebChat</title>
</head>

<body>

  <main>
    <div id="user-controller">
      <div id="perfil-controller">
        <div class="perfil-header">
          <span><img src={% static "webchat/images/buttons/arrow.png" %} alt="" onclick="toggleTab()"></span>
          <h1>Perfil</h1>
        </div>
        <div class="perfil-picture">
          <img id="perfil_photo" src="{{ profile.profile_picture.url }}" alt="Profile Picture" 
          onmouseover="showPhotoChager()" title="Profile Picture">
          <input id="input-photo" type="file" accept="image/*" onchange="updatePhotoProfile(this)"style="display: none;">
          <div id="photoChanger"  onmouseout="hidePhotoChager(this)" onclick="changePhoto()" >
           
            <span>Trocar Foto</span>
          </div>
        </div>
        <div class="perfil-text-content">

          <div class="perfil-span">
            <span>Seu nome</span>
          </div>

          <div id="perfil-name" class="perfil-fields">
            <span id="username">{{ profile.user_name }}</span>

            <input type="text" id='input-username' maxlength="20" style="display: none;">
            <img src={% static "webchat/images/buttons/pencil_icon.png" %} alt="" onclick="usernameEditor()"
              id="edit-pencil-username">
            <img src={% static "webchat/images/buttons/confirm_icon.png" %} alt="" onclick="usernameUpdate()"
              id="username-confirm" style="display: none;">
          </div>

        </div>

      </div>
      <header>
        <div id="header-items">
          <img id="profile-picture" src="{{ profile.profile_picture.url }}" alt="Profile Picture"  onclick="toggleTab()">
          <img src={% static "webchat/images/buttons/friends.png" %} class="header-buttons">
          <img src={% static "webchat/images/buttons/exit-icon.png" %} class="header-buttons">
        </div>

      </header>

      <div id="Search">
        <label for="search-input" id="label-search">
          <img src={% static "webchat/images/buttons/search_icon.png" %}>
        </label>
        <input type="text" id="search-input">
      </div>
      <div id="ContactsList">

      </div>
    </div>
    <div id="chat">

    </div>


  </main>
</body>
<script>
  const profileID = {{ profile.id }}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src={% static "webchat/js/api_requests.js" %}></script>
<script src={% static "webchat/js/webchat.js" %}></script>
</html>