{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'webchat/css/webchat.css' %}">
  <link rel="icon" href="{% static 'webchat/images/favicon.ico' %}" type="image/x-icon">

  <title>WebChat</title>
</head>

<body>

  <main>
    <div id="user-controller">

      <!-- Perfil-controler -->
      <div id="perfil-controller">
        <div class="tab-header">
          <span><img title="Go Back" src={% static "webchat/images/buttons/arrow.png" %} alt="" onclick="toggleTab('profile')"></span>
          <h1>Perfil</h1>
        </div>
        <div id="perfil-picture" class="perfil-picture">
          <img id="perfil_photo" src="{{ user_profile.profile_picture.url }}" alt="Profile Picture"
            onmouseover="showPhotoChager()" title="Profile Picture">
          <input id="input-photo" type="file" accept="image/*" onchange="updatePhotoProfile(this)"
            style="display: none;">
          <div title="Change Photo" id="photoChanger" onmouseout="hidePhotoChager(this)" onclick="changePhoto()">
            <span>Trocar Foto</span>
          </div>
        </div>
        <div class="perfil-text-content">

          <div class="perfil-span">
            <span>Seu nome</span>
          </div>

          <div id="perfil-name" class="perfil-fields">
            <span id="username">{{ user_profile.username }}</span>

            <input type="text" id='input-username' maxlength="20" style="display: none;">
            <img title="Edit Username" src={% static "webchat/images/buttons/pencil.png" %} alt="" onclick="usernameEditor()"
              id="edit-pencil-username">
            <img title="Confirm" src={% static "webchat/images/buttons/confirm_button.png" %} alt="" onclick="usernameUpdate()"
              id="username-confirm" style="display: none;">
          </div>
        </div>
      </div>
      <!-- /Perfil-controler -->

      <!-- new chat tab -->
      <div id="new-chat-tab">
        <div class="tab-header">
          <span><img title="Go Back" src={% static "webchat/images/buttons/arrow.png" %} alt="" onclick="toggleTab('new-chat')"></span>
          <h1>Start a chat</h1>
        </div>

        <div id="Search">
          <label for="search-profiles" id="label-search">
            <img src={% static "webchat/images/buttons/search_icon.png" %}>
          </label>
          <input type="text" id="search-profiles">
        </div>

        <div id="profiles">
          {% for profile in profiles %}
          {% if profile.user != request.user %}
          <div class="profiles-div">
            <div class="picture">
              <img id="mini-picture" src="{{ profile.profile_picture.url }}" alt="Profile Picture">
            </div>
            <div class="user-name">
              <p>{{ profile.username|title }}</p>
            </div>
            <div class="new-chat-icon">
              <img title="Start Chat" src="{% static "webchat/images/buttons/new_chat_icon.png" %}" alt=""
                onclick="startChat(selfProfileID,{{profile.id}})">
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    <!-- /new chat tab -->

      <header>
        <div id="main-header" class="header-items">
          <img title="Perfil" id="profile-picture" src="{{ user_profile.profile_picture.url }}" alt="Profile Picture"
            onclick="toggleTab('profile')">
            <div class="profiles-button">
          <img title="Profiles" src={% static "webchat/images/buttons/profiles.png" %}
            onclick="toggleTab('new-chat')">
          </div>
            <div title="Logout" class="logout-button">
          <a href=" {% url 'webchat:logout' %}"> <img src={% static "webchat/images/buttons/exit.png" %}> </a>
            </div>
        </div>
      </header>

      <div id="Search">
        <label for="search-rooms" id="label-search">
          <img src={% static "webchat/images/buttons/search_icon.png" %}>
        </label>
        <input type="text" id="search-rooms">
      </div>

      <div id="rooms">
        {% for chatroom in user_chatrooms %}
        {% with member=chatroom.member %}
        <div class="chatroom" onclick="openRoom('{{ chatroom.chatroom_id }}')">
          <div class="chatroom-picture">
            <img src="{{ member.profile_picture }}" alt="{{ member.username }}">
          </div>
          <div class="chatroom-username">
            <p>{{ member.username }}</p>
          </div>
        </div>

        {% endwith %}
        {% endfor %}
      </div>

    </div>
    </div>

    <div id="chat">
      <div id="chat-content">
        <header>
          <div class="header-items">
            <div class="chat-picture">
              <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
            </div>
            <div class="chat-name">
              <span>Nome da sala</span>
            </div>
          </div>
        </header>

        <div class="chat-body">


        </div>
        <div class="chat-input">
          <input type="text" name="" id="sender-input">
          <img src={% static "webchat/images/buttons/send.png" %} onclick="sendMessage()">
        </div>
      </div>
    </div>
  </main>
  
</body>
<script>
  const selfProfileID = {{ user_profile.id }}
</script>
<script src={% static "webchat/js/apiCommunicator.js" %}></script>
<script src={% static "webchat/js/webchat.js" %}></script>

</html>