{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'webchat/css/webchat.css' %}">
    <script src={% static "webchat/js/webchat.js" %}></script>
    <title>WebChat</title>
</head>
<body>
   
<main>
    <div id="user-controller">
        <div id="perfil-controller">
            <div class="perfil-header">
            <span><img src={% static "webchat/images/buttons/arrow.png" %} alt=""  onclick="toggleTab()"></span>
            <h1>Perfil</h1>
            </div>
            <div class="perfil-picture">
                <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" >
            </div>
        <div class="perfil-text-content">
            
                <div class="perfil-span">
                <span>Seu nome</span>
                </div>
                <div id="perfil-name" class="perfil-name">
                <span id="username">{{ profile.user_name }}</span>
                
                <input type="text" id='input-username' maxlength="20" style="display: none;">
                <img src={% static "webchat/images/buttons/pencil_icon.png" %} alt=""  onclick="usernameChange()" id="edit-pencil">
                <img src={% static "webchat/images/buttons/confirm_icon.png" %} alt=""  onclick="changeUsername()"  id="confirm-button" style="display: none;">
                </div>
           
                <div class="perfil-span">
                <span>Sobre</span>
                </div>
            <div class="perfil-about">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nam repudiandae, saepe nemo eius nihil eveniet! Fuga rerum porro perspiciatis tempore, eaque repudiandae ab unde architecto culpa eius, quos pariatur?</span>
            </div>
        </div>
        </div>
   <header>
    <div id="header-items">
        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" id="profile-picture" onclick="toggleTab()">
        <img src={% static "webchat/images/buttons/add_friend.png" %} class="header-buttons">
        <img src={% static "webchat/images/buttons/menu.png" %} class="header-buttons">
    </div>

    </header>

    <div id="Search">
        <label for="search-input" id="label-search">
            <img src={% static "webchat/images/buttons/search_icon.png" %}>
        </label>
    <input type="text" id="search-input">
    </div>
    <div id="ContactsList">

    </div>
</div>
    <div id="chat">

    </div>
  

</main>
</body>
</html>