@font-face {
    font-family: 'Berlin Sans FB Demi';
    src: url('Berlin_Sans_FB_Demi_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;

}

:root {
    --secundary-color: hsl(0, 0%, 5%);
    --bg-color: hsl(0, 0%, 8%);
}


html {
    scroll-behavior: smooth;

}

body {
    background-color: var(--bg-color);

}

a {
    text-decoration: none;
}

nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    background-color: hsl(0, 0%, 5%);
    justify-content: center;
    z-index: 1;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    right: 0px;


}

.mobile-menu div {
    width: 30px;
    height: 2px;
    background: #fff;
    margin: 8px;

}

nav a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    padding: 15px;

}

nav a:hover {
    color: #a604e6;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-list li {
    letter-spacing: 3px;

}


.home {
    /* background: linear-gradient(to bottom, #474747, #454545, #353535); */
    background-color: var(--secundary-color);
    width: 100%;
    height: 100vh;
}

.home-container {
    position: relative;
    top: 38vh;
    max-width: 100%;
    padding: 20px;

    /* Organizar elementos verticalmente */
    align-items: flex-start;
    /* Alinhar elementos à esquerda */

}

.home-text {
    font-size: 9vw;
    font-family: Berlin Sans FB Demi;
    color: #ECECEC;
}

.ola {
    position: relative;
    left: 4.5vw;
    font-size: 2.5vw;
    font-family: Berlin Sans FB Demi;
    color: #ECECEC;
    width: 60vw;

}




#dev {
    position: relative;
    left: 4vw;
    width: 70vw;
}

#backend {
    position: relative;
    left: 21vw;
    width: 53vw;
}

.social-icons-div {
    position: relative;
    left: 7vw;
    bottom: 8vw;
    max-width: 20vw;
}

.social-icons {
    cursor: pointer;
    width: 3.7vw;
    height: auto;
    margin-right: 1.5vw;
    transition: transform 0.3s, filter 0.3s;

}

.social-icons:hover {
    transform: scale(1.06);
    filter: brightness(0.8)
}

/* section Sobre mim */
.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(35px, 8%, 70px);

}

#pyimg {
    max-width: 300px;
    min-width: 250px;
}


.sobre-mim {

    text-align: left;
    max-width: 40vw;
    min-width: 200px;
    padding-right: 300px
}

.sobre-mim p {
    font-family: system-ui,
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 0;
    color: #e4e1e1;
    font-size: 20px;
}

.sobre-mim a {
    font-weight: bold;
    text-decoration: underline;
    color: #4973fc;
}

.sobre-mim h1 {
    font-family: 'Berlin Sans FB Demi';
    font-size: 40px;
    margin-bottom: 4vh;
    color: #04a2e6;
}

/* Section Projetos */
.projects {
    background-color: hsl(0, 0%, 5%);
    justify-items: center;
    min-height: 92vh;
    max-height: 100%;

}

.projects h1 {
    font-family: 'Berlin Sans FB Demi';
    color: #04a2e6;
    font-size: 33px;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.projects-container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 30px;
    justify-content: center;

}

.card {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 300px;
    height: 500px;
    border-radius: 5px;
    background: hsl(0, 0%, 8%);
    box-shadow: 0 4px 8px rgb(0, 0, 0);

}

.card h3 {
    font-family: system-ui,
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #ECECEC;
    font-size: 22px;
    margin-top: 20px;
}

.card-template {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
}

.card-template img {
    width: 85%;
    border-radius: 10px;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
    height: auto;

    transition: transform 0.4s ease;
}

.card-template:hover img {
    transform: scale(1.1);
    cursor: pointer;
}




.card-overlay {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 85%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    transition: opacity 0.6s ease;
    border-radius: 10px;
    z-index: 1;
    transition: transform 0.4s ease;

}

.card-template:hover .card-overlay {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
    /* Aparece a sobreposição preta */
}

.card-text {
    font-family: system-ui,
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #cecece;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}


.card-description {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
}

.card-description p {
    font-family: system-ui,
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: 90%;
    color: #e4e1e1;
}

.card-button {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 40px;
    /* Garante que o botão fique no final da div */
}

.card-button button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 80%;
    border: none;
    color: #e4e1e1;
    font-size: 1.2rem;
    height: 40px;
    background-color: #4973fc;
    border-radius: 5px;
}

.card-button:hover button {
    cursor: pointer;
    background-color: #5dade2
}

@media (max-width: 1200px) {
    .projects-container {
        grid-template-columns: repeat(3, 300px);
    }
}

@media (max-width: 900px) {
    .projects-container {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 600px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}

/* Div pro mobile */
@media (max-width: 1000px) {
    #bar {
        position: fixed;
        display: flex;
        padding-top: 20vh;
        right: -100vw;
        /* Começa fora da tela à direita */
        top: 0;
        bottom: 0;
        width: 100vw;
        background-color: hsla(0, 0%, 5%, 0.308);
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        transition: right 0.3s ease;
        /* Adiciona uma transição para a propriedade right */
        z-index: 4;
        /* Coloque-o em cima de outros elementos */
    }

    #bar::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        /* Cor de fundo semitransparente */
        backdrop-filter: blur(5px);
        /* Efeito de desfoque */
        z-index: -1;
        /* Colocar atrás do conteúdo */
        pointer-events: none;
        /* Impede interações com o conteúdo subjacente */
    }

    #bar.active {
        right: 0vw;

    }

    #bar a {

        padding: 20px;
    }

    .mobile-menu {
        display: block;
        padding-right: 20px;
    }


    .home-container {
        max-width: 70vw;
        top: 40vh;
        left: 12vw;


    }

}